*.cs linguist-language=CSharp
ClientApp/wwwroot/*.js linguist-vendored # exact, absolute path
*/js/* linguist-vendored # wildcarded, absolute path with 2-dir levels
**/js/* linguist-vendored # wildcarded, absolute path with n-dir levels
