<!-- Default form register -->
<div *ngIf="messg"  id="toast" [ngClass]="{'col-12': isModal}"class="font-weight-bold col-6 mx-auto alert alert-danger text-white text-center" role="alert">
  {{messg}}
</div>
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="card col">
      <form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">
        <h2 class="mb-4">New Vehicle</h2>
        <div class="form-row mb-4">
          <div class="col">
            <select #make class="browser-default custom-select" (change)="onMakeChange(make.value)">
              <option value = "" disabled>Select make</option>
              <option *ngFor="let m of makes" value="{{m.id}}">{{m.name}}</option>
            </select>
          </div>
          <div class="col mb-4">
            <select formControlName="modelId" class="browser-default custom-select" [ngClass]="{'is-invalid': modelId.touched && (modelId.errors?.required), 'is-valid': modelId.valid}">
              <option value = "" disabled>Select model</option>
              <option *ngFor="let m of models" value="{{m.id}}">{{m.name}}</option>
            </select>
          </div>
        </div>
        <p class="text-left">Is this vehicle registered?</p>
        <div class="text-left mb-4">
          <div class="form-check form-check-inline">
            <input class="form-check-input" formControlName="isRegistered" type="radio" id="registered" value="true">
            <label class="form-check-label" for="registered"> Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" formControlName="isRegistered" type="radio" id="notRegistered"
              value="false">
            <label class="form-check-label" for="notRegistered">No</label>
          </div>
        </div>
        <div class="h4 mb-4 text-left">Features</div>
        <div class="form-check text-left mb-4" *ngFor="let f of features">
          <input class="form-check-input" type="checkbox" value="{{f.id}}" (change)="onCheckChanges($event.target)">
          <label class="form-check-label" for="{{f.id}}"> {{f.name}}</label>
        </div>
        <div formGroupName="contact">
              <div class="h4 mb-4 text-left">Contact</div>
        <div class="form-group text-left col-sm-6">
          <label for="">Name</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">Name</div>
            </div>
            <input type="text" class="form-control" id="" placeholder="enter name" formControlName="name" [ngClass]="{'is-invalid': name.touched && (name.errors?.required), 'is-valid': name.valid}">
          </div>
        </div>
        <div class="form-group text-left col-sm-6">
          <label for="">Phone Number</label>
          <div class="input-group">
            <input type="tel" class="form-control" id="" pattern="^[0-9]*$" placeholder="enter phone number" formControlName="phone_number" [ngClass]="{'is-invalid': phone_number.touched && (phone_number.errors?.required), 'is-valid': phone_number.valid}">
            <div class="input-group-append">
              <div class="input-group-text">#</div>
            </div>
          </div>
          <span *ngIf="phone_number.errors?.pattern"
          [ngClass]="{'text-danger': phone_number.errors?.pattern}">phone number must be numeric</span>
        </div>
        <div class="form-group text-left col-sm-6 mb-4">
          <label for="">Email</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" type="email" class="form-control" id="" placeholder="enter email" formControlName="email" [ngClass]="{'is-invalid': email.touched && (email.errors?.required), 'is-valid': email.valid}">
          </div>
          <span *ngIf="email.errors?.pattern"
          [ngClass]="{'text-danger': email.errors?.pattern}">enter only valid email address</span>
          </div>
        </div>
        <hr>
        <button class="mt-4 btn btn-warning col-sm-3 text-white mx-auto my-4 btn-block" type="submit">Sign in</button>
      </form>
    </div>
  </div>
</div>