.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar{
  border-bottom: 4px solid #f8b51f;
}


.navbar .navbar-nav.navbar-right {
  margin-left: auto;
}

.navbar .nav-divider {
  position: relative;
  width: 1px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.navbar-text .fa, .nav-item .fa, .dropdown-item .fa {
  margin-right: 0.5rem
}
.dropdown-item .fa, .dropdown-item {
  font-size: 12px;
}

 .dropdown-item {
    font-size: 14px;
  }
  .dropdown-item:active, a.link-active {
    background-color: #592B81 !important;
    color: white;
  }

